*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.topnav{
    display: flex;
    border: 2px solid red;
    align-items: center;
    min-height: 4rem;
    background-color: #7952b3;
    justify-content: space-between;
}
.icon{
    

    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    

}


.profile, .search, .dots {
    display: inline-block;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

.navlinks{
    display: flex;
    flex-direction: row;
    list-style: none;
    

}
a{
    text-decoration: none;
}

.navitem {
    display: inline-block;
    padding-left: 2.5rem;
    padding-right: 3.5rem;
}
  

main{
    background-color: rgb(136, 40, 99);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: rgb(241, 232, 232);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.head{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.head h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}
 .form-control{
     padding-bottom: 20px;
     margin-bottom: 10px;
     position: relative;
 }
 .form-control label{
    display: inline-block;
    margin-bottom: 5px;
 }
 .form-control input{
     border: 2px solid #f0f0f0;
     border-radius: 4px;
     display: block;
     font-size: 14px;
     padding: 10px;
     width: 100%;

 }
 .form-control.success input {
     border-color: #2ecc71;
     
 }
 .form-control.error input {
     border-color: #e74c3c;
 }

 .form-control i{
     position: absolute;
     top: 40px;
     right: 10px;
     visibility: hidden;
 }

 .form-control.success i.fa-check-circle {
     color: #2ecc71;
     visibility: visible;
 }
 .form-control.error i.fa-exclamation-circle {
     color: #e74c3c;
     visibility: visible;
 }
 .form-control small{
     position: absolute;
     bottom: 0;
     left: 0;
     visibility: hidden;
 }
 .form-control.error small{
     visibility: visible;
     color: #e74c3c;
 }
 .form button{
     background-color: #8e44ad;
     border: 2px solid #8e44ad;
     display: block;
     color: #fff;
     border: 4px;
     padding: 10px;
     font-size: 16px;
     width: 100%;
    
 }
